@font-face {
  font-family: 'Ringbearer';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  //url(../fonts/ringbearer-font/RingbearerMedium-51mgZ.ttf) format('ttf');
  url(../fonts/ringbearer-font/ringbearer.ttf) format('ttf');
}