$defaultFont: Helvetica, Arial, sans-serif;
$headerFont: Ringbearer, serif;

$images-path: '../img' !default;

$white: #fff;
$black: #212121;
$gold: #ffcc00;

//official colors of ukrainian flag
$yellow: #ffd700;
$blue: #0057b8;