@use '../helpers/index' as *;

header {
  padding: 0;
  &.frontpage {
    //maybe different
  }
  width: 100%;
  transition: all 0.3s;
  border-bottom: 3px solid $blue;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .header_logo {
    display: flex;
    align-items: center;
    padding: 20px 24px 16px;
    a {
      display: block;
      width: 220px;
      height: 50px;
      background: url(image-url('/UArchery-text.svg')) top left no-repeat;
      background-size: contain;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
  header {
    .header_logo {
      a {
        width: 180px;
      }
    }
  }
}
