@use '../helpers/index' as *;

.about {
  .team_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .member {
      width: 30%;
      min-width: 250px;
      text-align: center;
      margin-bottom: 32px;
      .member_photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto 16px;
        border: 1px solid $gold;
      }
      .member_desc {
        .member_name {
          font-weight: bold;
        }
        .member_title {
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  // max-width: 1440px
}

@media screen and (max-width: 1024px) {
  // max-width: 1024px
}

@media screen and (max-width: 768px) {
  // max-width: 768px
}

@media screen and (max-width: 590px) {
  // max-width: 590px
  .about {
    .team_box {
      flex-direction: column;

      .member {
        width: 100%;
      }
    }
  }
}
