@use '../helpers/index' as *;

header {
  padding: 32px 0;
  width: 80%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;

  .header_logo {
    display: flex;
    align-items: center;
    a {
      display: block;
      width: 150px;
      height: 150px;
      background: url(image-url('/logo_600.png')) center no-repeat;
      background-size: contain;
      text-decoration: none;
    }
  }

  .menu_wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

@media screen and (max-width: 1440px) {
  // max-width: 1440px
}

@media screen and (max-width: 1024px) {
  // max-width: 1024px
}

@media screen and (max-width: 768px) {
  // max-width: 768px
}

@media screen and (max-width: 590px) {
  // max-width: 590px
  header {
    .header_logo {
      a {
        width: 80px;
        height: 80px;
      }
    }
  }
}
