@use '../helpers/index' as *;

.search-hint {
  margin-top: 16px;
}

.menu_wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .search-hint {
    display: none;
  }

  .search-form {
    .search-button {
      border: 1px solid gray;

      .search_button_icon {
        display: block;
        width: 22px;
        height: 22px;
        background: url(image-url('/icons/search.svg')) center no-repeat;
        background-size: contain;
      }
      .search_button_text {
        display: none;
      }
    }
  }
}

.search-form {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 8px;

  .search-input {
    width: 240px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: initial;
    height: 40px;
  }

  //todo: move to general button?
  .search-button {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    padding: 4px 8px;
    height: 40px;
    align-items: center;
    justify-content: center;

    .search_button_icon {
      display: none;
    }
  }

  .search-button:hover {
  }

  .search-button:active {
  }
}

@media screen and (max-width: 1440px) {
  // max-width: 1440px
}

@media screen and (max-width: 1024px) {
  // max-width: 1024px
}

@media screen and (max-width: 768px) {
  // max-width: 768px
}

@media screen and (max-width: 590px) {
  // max-width: 590px
}
