@use '../helpers/index' as *;

* {
  //box-sizing: border-box;
}

// WordPress admin bar fix - force fixed position on mobile
#wpadminbar {
  position: fixed !important;
  z-index: 50;
  top: 0 !important;
}

body {
  background: $white;
  color: $black;
  font-family: $defaultFont;
  cursor: default;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $headerFont;
  font-weight: normal;
  color: $black;
  display: block;
  line-height: 1;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
h2 {
  //font-size: 32px;
  //margin-top: 32px;
  //margin-bottom: 32px;
}
h3 {
  //font-size: 24px;
}
h4 {
  //font-size: 16px;
}

.hidden {
  display: none !important;
}

#wpadminbar {
  a {
    &:hover {
      color: $yellow;
    }
  }
}

section {
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0;

    .content {
      h2 {
        margin: 40px 0 24px;
      }

      p {
        line-height: 1.5;
        margin-bottom: 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      ul {
        margin-bottom: 16px;
        li {
          margin-bottom: 16px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .wp-block-separator {
        margin: 24px;
      }
    }
  }
  &:last-of-type {
    .container {
      padding-bottom: 80px;
    }
  }
}

.post-navigation {
  padding: 40px 0 0;
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $gold;
      text-decoration: underline;
    }
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 48px;
    .nav-previous {
      position: relative;
      text-transform: capitalize;
      &:before {
        position: absolute;
        left: -24px;
        top: 2px;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border: 3px solid transparent;
        border-top-color: $gold;
        border-right-color: $gold;
        transform: rotate(-135deg);
      }
    }
    .nav-next {
      position: relative;
      text-transform: capitalize;
      &:after {
        position: absolute;
        right: -24px;
        top: 2px;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border: 3px solid transparent;
        border-top-color: $gold;
        border-right-color: $gold;
        transform: rotate(45deg);
      }
    }
  }
}

.debugger {
  background: $red;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px 16px;
}

@media screen and (max-width: 1440px) {
  // max-width: 1440px
}

@media screen and (max-width: 1024px) {
  // max-width: 1024px
}

@media screen and (max-width: 768px) {
  // max-width: 768px
}

@media screen and (max-width: 590px) {
  // max-width: 590px
}
