$defaultFont: Helvetica, Arial, sans-serif;
$headerFont: Ringbearer, serif;

$images-path: '../img' !default;

$white: #fdf6e3;
$black: #2e1f17;
$gold: #ffcc00;
$vine: #8b0000;

//official colors of ukrainian flag
$yellow: #ffd700;
$blue: #0057b8;

// Additional colors
$red: #ff0000;